{% extends 'music/base.html' %}
<title>{% block title %}Album Details {% endblock %}</title>
{% block content %}

<img src="{{ album.album_logo }}">

<h1>{{ album.album_title }}</h1>
<h3>{{ album.artist }}</h3>

{% if error_message %}
    <p><stron>{{ error_message }}</stron></p>
{% endif %}

<form action="#" method="post">
    {% csrf_token %}
    {% for song in album.song_set.all %}
        <input type="radio" id="song{{forloop.counter }}" name="song" value="{{ song.id }}"/>
        <label for="song{{ forloop.counter }}">
            {{ song.song_title }}

        </label><br>
    {% endfor %}
    <input type="submit" value="Favorite">
</form>
{% endblock %}